<table width="100%" cellspacing="0" cellpadding="0">
    <tr style="background-color: rgb(30, 69, 48);">
        <td>
            <table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td><img class="imgLogo" src="./assets/images/logo.png" width="70px" height="70px" /></td>
                    <td class="tdFootertext "><div routerLink="/products">BAKERY</div></td>
                    <td class="tdFootertext"><div routerLink="/products">BEVERAGE</div></td>
                    <td class="tdFootertext"><div routerLink="/products">COMPANY</div></td>
                </tr>
                <tr>
                    <td class="imgLogo">
                        <img src="./assets/images/fb.png" width="20" height="20" />
                        <img src="./assets/images/youtube.png" width="20" height="20" />
                        <img src="./assets/images/ig.png" width="20" height="20" />
                    </td>
                    <td class="tdFooterContent"> <div routerLink="/products">Bread</div></td>
                    <td class="tdFooterContent"><div routerLink="/products">Coffee</div></td>
                    <td class="tdFooterContent"><div  routerLink="/">Home</div></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td class="tdFooterContent"><div routerLink="/products">Cake</div></td>
                    <td class="tdFooterContent"><div routerLink="/products">Smoothies</div></td>
                    <td class="tdFooterContent"><div routerLink="/aboutus">About us</div></td>
                </tr>
                <tr style="color: white;">
                    <td>&nbsp;</td>
                    <td class="tdFooterContent"><div routerLink="/products">Pastry</div></td>
                    <td class="tdFooterContent"><div routerLink="/products">Tea</div></td>
                    <td class="tdFooterContent"><div routerLink="/news">News</div></td>
                </tr>
                <tr>
                    <td colspan="5" class="tdFooter">©2023 Shine bakery International Corp. All Rights Reserved.</td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- End of footer -->
</table>
