<table class="myTable">
    <tr>
        <td colspan="2" class="aboutUs">
            <div>About Shine</div>
        </td>
    </tr>
    <tr>
        <td class="imgEnjoy"><img src="./assets/images/enjoylife.png" alt="" width="500" height="375" /></td>
        <td>
            <div class="textEnjoyBig">Enjoy life,</div>
            <div class="textEnjoyBig">eat and drink well</div>
            <div class="textEnjoySmall">At Shine, our philosophy is quite simple:</div>
            <div class="textEnjoySmall">Enjoy life, Eat and Drink Well" - The Founders.</div>
        </td>
    </tr>
    <tr>
        <td class="textHere" colspan="2">
            <div>
                Here at Shine, who are passionate about high-quality products and gourmet cuisine, we are dedicated to celebrating the finest European cuisine. With a small store in Ho Chi Minh City with a handful of products on the shells,
                we bring to our customers specializing in fine food and beverage products. Besides that, we are also proud to be the embodiment of a green, healthy and modern lifestyle.
            </div>
            <div>
                At Shine bakery, we offer a variety of high-quality commodities including organic and gluten-free products along with organic fruits, vegetables, or imported smoothies and beverages. Our professional and friendly staff are
                always ready to help you have the most enjoyable journey of discovering the international cuisine and commit to offering you a wonderful shopping experience when visiting Shine.
            </div>
        </td>
    </tr>
    <tr>
        <td class="container" colspan="2">
            <div>
                <img src="./assets/images/loveus.jpg" width="100%" height="100%" />
                <div class="textTop">
                    Why customers love us
                    <div class="transbox">
                        <img class="imgQuotationLeft" src="./assets/images/quotation_left.png" />
                        <div class="transboxText textPadding">THE LARGE RANGE OF PRODUCTS</div>
                        <div class="transboxTextSmall textPadding">We commit to offering a wide range of high gourmet products carefully selected by our team of international food experts, from delicious products to organic beverage.</div>
                        <p></p>
                        <div class="transboxText textPadding">THE QUALITY OF OUR PRODUCTS</div>
                        <div class="transboxTextSmall textPadding">We define quality by evaluating the ingredients, freshness, safety, taste, nutritive value, and appearance of all of the products we carry.</div>
                        <p></p>
                        <div class="transboxText textPadding">THE SELECTION OF OUR SUPPLIERS</div>
                        <div class="transboxTextSmall textPadding">Our team of food experts carefully selects the suppliers we work with to guarantee product traceability and offer you fine and fresh products.</div>
                        <img class="imgQuotationRight" src="./assets/images/quotation_right.png" />
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>

