<table width="100%" cellspacing="0" cellpadding="0">
    <!-- Home page -->
    <tr>
        <td>
            <div class="container">
                <img src="./assets/images/home.png" style="width: 100%"  />
                <div class="centered">FRESH BAKED EVERYDAY</div>
            </div>
        </td>
    </tr>
    <!-- End of home page -->

<!-- Our story -->
<tr>
<td>
<table>
    <tr>
        <td >
            <img src="./assets/images/left.png" width="300" height="400" class="imgLeftStory" />
        </td>
        <td>
            <p><img src="./assets/images/right1.png" width="150" height="200" class="imgRightStory" /></p>
            <p><img src="./assets/images/right2.png" width="150" height="200" class="imgRightStory" /></p>
        </td>
        <td>
            <div class="textStory">OUR STORY</div>
            <div class="textBaked">Fresh baked, everyday</div>
            <div class="textLongStory">
                With a commitment to using only the finest ingredients, our products are known for their unique flavors and wholesome qualities. Our skilled bakers create a wide array of delicious treats that are freshly
                baked and ready to be enjoyed by our customers seeking exceptional taste and quality.
            </div>
            <div class="textReadStory bounce child">READ OUR STORY</div>
        </td>
    </tr>
</table>
</td>
</tr>
<!-- End of our story -->

<!-- Bakery -->
<tr style="background-color: rgb(172, 132, 92);">
<td>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td colspan="3" class="paddingProperty textBakeBeve textBake">
            <div >Bakery</div>
        </td>
    </tr>
    <tr>
        <td colspan="3" class=" textLongBakeBeve textBake">
            <div>
                We offer a wide range of bakery items that are perfect for any occasion. From our freshly baked breads to our decadent cakes and pasties, each of our products is made with the finest ingredients and the
                utmost care.
            </div>
        </td>
    </tr>
    <tr>
        <td class="imgComponent bounce child">
            <div routerLink="/products">
            <div>
            <img src="./assets/images/bread.png" width="250" height="250"/>
            </div>
            <div class="tdProperty>
                miniText textBake">Bread
           </div> 
        </div>
        </td>
        <td class="imgComponent bounce child">
            <div routerLink="/products">
        <div>
            <img src="./assets/images/cake.png" width="250" height="250" />
        </div>
        <div class="tdProperty>
            miniText textBake">Cake
       </div> 
    </div>
        </td>
        <td class="imgComponent bounce child">
            <div routerLink="/products">
            <img src="./assets/images/pastry.png" width="250" height="250" />
            <div class="tdProperty>
                miniText textBake">Pastry
           </div> 
        </div>
        </td>
    </tr>
    <!-- <tr>
        <td class="tdProperty miniText textBake">Bread</td>
        <td class="tdProperty miniText textBake">Cake</td>
        <td class="tdProperty miniText textBake">Pastry</td>
    </tr> -->
</table>
</td>
</tr>
<!-- End of bakery -->

<!-- Beverage -->
<tr>
<td>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td  colspan="3" class="paddingProperty textBakeBeve textBeverage">
            <div>Beverage</div>
        </td>
    </tr>
    <tr>
        <td colspan="3" class="paddingProperty textLongBakeBeve textBeverage">
            <div>
                We offer a wide range of bakery items that are perfect for any occasion. From our freshly baked breads to our decadent cakes and pasties, each of our products is made with the finest ingredients and the
                utmost care.
            </div>
        </td>
    </tr>
    <tr>
        <td class="imgComponent bounce child">
            <div routerLink="/products">
        <div>
            <img src="./assets/images/coffee.png" width="250" height="250" />
        </div>
        <div class="tdProperty miniText textBeverage">
            Coffee
        </div>
    </div>
        </td>
        <td class="imgComponent bounce child">
            <div routerLink="/products">
        <div>
            <img src="./assets/images/tea.png" width="250" height="250" />
        </div>
        <div class="tdProperty miniText textBeverage">
            Tea & more
        </div>
    </div>
        </td>
        <td class="imgComponent bounce child">
            <div routerLink="/products">
       <div>
            <img src="./assets/images/blended.png" width="250" height="250" />
        </div>
        <div class="tdProperty miniText textBeverage">
            Blended
        </div>
    </div>
        </td>
    </tr>
    <!-- <tr>
        <td class="tdProperty miniText textBeverage">Coffee</td>
        <td class="tdProperty miniText textBeverage">Tea & more</td>
        <td class="tdProperty miniText textBeverage">Blended</td>
    </tr> -->
</table>
</td>
</tr>
<!-- End of beverage -->

<!-- Press -->
<tr style="background-color: rgb(241, 218, 178);">
<td>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td colspan="3">
            <div class="textPress">Press</div>
        </td>
    </tr>
    <tr>
        <td colspan="3" class="textArticle bounce child">
            View more article
        </td>
    </tr>
    <tr>
        <td style="text-align: center;" class="child bounce">
            <div>
            <img src="./assets/images/new1.png" width="250" height="250" />
        </div>
        <div class="textSmallPress tdProperty">
            RESTAURANT NEWS
        </div>
        </td>
        <td style="text-align: center;" class="child bounce">
            <div>
            <img src="./assets/images/new2.png" width="250" height="250" />
        </div>
        <div class="textSmallPress tdProperty">
            BAKE NEWS
        </div>
        </td>
        <td style="text-align: center;" class="child bounce">
            <div>
            <img src="./assets/images/new3.png" width="250" height="250" />
        </div>
        <div class="textSmallPress tdProperty">
            RESTAURANT NEWS
        </div>
        </td>
    </tr>
    <!-- <tr class="textSmallPress tdProperty">
        <td>RESTAURANT NEWS</td>
        <td>BAKE NEWS</td>
        <td>RESTAURANT NEWS</td>
    </tr> -->
    <tr>
        <td class="textLongPress">Shine Reports Impressive Q1 2023 Sales and Growth Following Remarkable 2022 Performance</td>
        <td class="textLongPress">Shine celebrates strong 2022</td>
        <td class="textLongPress">Shine's Beverage Expert Takes First Place at National Coffee Competition</td>
    </tr>
</table>
</td>
</tr>
<!-- End of press -->
</table>