<div  class="update-product">
    <h1>Post News</h1>
    <form #postNews="ngForm" (ngSubmit)="submit(postNews.value)">
      <input type="text" class="form-input" placeholder="Enter ID" name="id" [(ngModel)]="postnewsData.id"required/> 
      <input type="text" class="form-input" placeholder="Enter Type" name="type" [(ngModel)]="postnewsData.type"required/>
      <input type="text" class="form-input" placeholder="Enter TypeID" name="typeid"[(ngModel)]="postnewsData.typeid"/>
      <input type="text" class="form-input" placeholder="Enter Title" name="title"[(ngModel)]="postnewsData.title"/>
      <input type="text" class="form-input"placeholder="Enter Image" name="image" [(ngModel)]="postnewsData.image"/>
      <input type="text" class="form-input" placeholder="Enter Date"name="date" [(ngModel)]="postnewsData.date"/>
      <textarea type="text" class="form-input" placeholder="Enter Description" 
      name="description"[(ngModel)]="postnewsData.description"></textarea>
      <angular-editor [placeholder]="'Enter your content'"
      [config]="config" name="detail" [(ngModel)]="postnewsData.detail"></angular-editor>
  <button class="form-button">Post News</button>
    </form>
  </div>
