<div  class="title-page">
    <img class="img-title" src="assets/images/news.png">
    <div class="nav-title-content">
        <p class="content-title">NEWS</p>
    </div>
</div>

<div class="verical-menu">
    <div class="click-menu" style="background-image:url('assets/images/verical-event.png')">

        <div routerLink="/news/event" class="content-menu">
            <h3 class="title-menu">EVENT</h3>
            <p class="description-menu">
                This is where we update information about events happening and upcoming 
                at our store. Let's explore and join in the exciting experiences!
            </p>
        </div>
    </div>
    <div class="click-menu" style="background-image:url('assets/images/verical-promotion.png')">
        <div routerLink="/news/instruction"  class="content-menu">
            <h3 class="title-menu">INSTRUCTION</h3>
            <p class="description-menu">
                This is where we update information about events happening and upcoming 
                at our store. Let's explore and join in the exciting experiences!
            </p>
        </div>
    </div>
    <div class="click-menu" style="background-image:url('assets/images/verical-instruction.png')">
        <div routerLink="/news/promotion"  class="content-menu">
            <h3 class="title-menu">PROMOTION</h3>
            <p class="description-menu">
                This is where we update information about events happening and upcoming 
                at our store. Let's explore and join in the exciting experiences!
            </p>
        </div>
    </div>
</div>